.App {
  text-align: center;
}

/* MainContent Component Styling */
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  pointer-events: none;
}
.search{
  width: 100%;
  padding: 0.4em 0.6em;
  border-radius: 25px;
  border: 1px solid #887272;
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
input{
  width: 95%;
  outline: none;
  border: none;
}
img.mic{
  width: 5%;
  cursor: pointer;
}
.btns{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.btn{
  padding: 1em 1.5em;
  text-transform: capitalize;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}